.button-container {
  margin: auto;
  width: 50%;
  text-align: center;
}

.tweet-container {
  text-align: center;
  margin-bottom: 1rem;
}

.navbar, .navbar-inverse {
  border-radius: 0px;
}

.inner-container {
  margin: auto;
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.twitter-tweet .twitter-tweet-rendered {
  margin:auto;
}

.title-container {
}

.navbar {
  margin-bottom: 0;
}

.title {
  font-size: 10rem;
  width: 50%;
  margin: auto;
  text-align: center;
}

.sub-title {
  font-size: 2rem;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.loading-container {
  display: none;
}

.content-title {
  font-size: 3rem;
  font-weight: bold;
  width: 40%;
  margin: auto;
  margin-top: 20;
}

.content-info {
  font-size: 1.5rem;
  width: 40%;
  margin: auto;
  margin-top: 20;
}

.matrix-img {
  width: 30rem;
}

.content-image {
  margin: auto;
  width: 40%;
  text-align: center;
}
