.button-container {
  margin: auto;
  width: 50%;
  text-align: center;
}

.tweet-container {
  text-align: center;
  margin-bottom: 1rem;
}

.but {
  margin:0 auto;
  display: block;
  position: relative;
  top:50%;
}

.navbar, .navbar-inverse {
  border-radius: 0px;

}

.inner-container {
  margin: auto;
  display: inline-block;
}

.twitter-tweet .twitter-tweet-rendered {
  margin:auto;
}

.title-container {
}

.navbar {
  margin-bottom: 0;
}

.title {
  font-size: 10rem;
  width: 50%;
  margin: auto;
  text-align: center;
}

.loading-container {
  display: none;
}

.content-title {
  font-size: 3rem;
  width: 40%;
  margin: auto;
  margin-top: 20;
}

.ccontent-info {
  font-size: 1rem;
  width: 40%;
  margin: auto;
  margin-top: 20;
}
